
$mobile: "(min-width: 300px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";


$border-style-corner: none none none solid;
$cell-size-m: 75px;
$cell-size-d: 150px;

$select-menu-margin-bottom-m: 25px;
$select-menu-margin-bottom-d: 50px;
//$tictactoe-width: ($cell-size * 3) + 30px;